{% extends 'hotels/base.html' %}

{% load static %}

{{ title }}

{% block theme_layout_style %}
    <!-- Theme style -->
    <link href="{% static 'dist/css/stylecrm.css' %}" rel="stylesheet"/>
    <!-- Theme style rtl -->
    <!--<link href="assets/dist/css/stylecrm-rtl.css" rel="stylesheet" />-->
{% endblock %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-icon">
            <i class="fa fa-users"></i>
        </div>
        <div class="header-title">
            <h1>Customer</h1>
            <small>Customer List</small>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-12 pinpin">
                <div class="card lobicard" data-sortable="true">
                    <div class="card-header">
                        <div class="card-title custom_title">
                            <h4>Add customer</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Plugin content:powerpoint,txt,pdf,png,word,xl -->
                        <div class="btn-group d-flex" role="group">
                            <div class="buttonexport" id="buttonlist">
                                <a class="btn btn-add" href="{% url 'customers:create_customer' %}"> <i
                                        class="fa fa-plus"></i> Add Customer
                                </a>
                            </div>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-exp btn-sm" data-toggle="dropdown"><i class="fa fa-bars"></i> Export
                                Table Data
                            </button>
                            <ul class="dropdown-menu exp-drop" role="menu">
                                <li>
                                    <a href="#"
                                       onclick="$('#dataTableExample1').tableExport({type:'json',escape:'false'});">
                                        <img src="{% static 'dist/img/json.png' %}" width="24" alt="logo"> JSON</a>
                                </li>
                                <li>
                                    <a href="#"
                                       onclick="$('#dataTableExample1').tableExport({type:'json',escape:'false',ignoreColumn:'[2,3]'});">
                                        <img src="{% static 'dist/img/json.png' %}" width="24" alt="logo"> JSON
                                        (ignoreColumn)</a>
                                </li>
                                <li><a href="#"
                                       onclick="$('#dataTableExample1').tableExport({type:'json',escape:'true'});">
                                    <img src="{% static 'dist/img/json.png' %}" width="24" alt="logo"> JSON (with
                                    Escape)</a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li><a href="#"
                                       onclick="$('#dataTableExample1').tableExport({type:'xml',escape:'false'});">
                                    <img src="{% static 'dist/img/xml.png' %}" width="24" alt="logo"> XML</a>
                                </li>
                                <li><a href="#" onclick="$('#dataTableExample1').tableExport({type:'sql'});">
                                    <img src="{% static 'dist/img/sql.png' %}" width="24" alt="logo"> SQL</a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li>
                                    <a href="#"
                                       onclick="$('#dataTableExample1').tableExport({type:'csv',escape:'false'});">
                                        <img src="{% static 'dist/img/csv.png' %}" width="24" alt="logo"> CSV</a>
                                </li>
                                <li>
                                    <a href="#"
                                       onclick="$('#dataTableExample1').tableExport({type:'txt',escape:'false'});">
                                        <img src="{% static 'dist/img/txt.png' %}" width="24" alt="logo"> TXT</a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li>
                                    <a href="#"
                                       onclick="$('#dataTableExample1').tableExport({type:'excel',escape:'false'});">
                                        <img src="{% static 'dist/img/xls.png' %}" width="24" alt="logo"> XLS</a>
                                </li>
                                <li>
                                    <a href="#"
                                       onclick="$('#dataTableExample1').tableExport({type:'doc',escape:'false'});">
                                        <img src="{% static 'dist/img/word.png' %}" width="24" alt="logo"> Word</a>
                                </li>
                                <li>
                                    <a href="#"
                                       onclick="$('#dataTableExample1').tableExport({type:'powerpoint',escape:'false'});">
                                        <img src="{% static 'dist/img/ppt.png' %}" width="24" alt="logo"> PowerPoint</a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li>
                                    <a href="#"
                                       onclick="$('#dataTableExample1').tableExport({type:'png',escape:'false'});">
                                        <img src="{% static 'dist/img/png.png' %}" width="24" alt="logo"> PNG</a>
                                </li>
                                <li>
                                    <a href="#"
                                       onclick="$('#dataTableExample1').tableExport({type:'pdf',pdfFontSize:'7',escape:'false'});">
                                        <img src="{% static 'dist/img/pdf.png' %}" width="24" alt="logo"> PDF</a>
                                </li>
                            </ul>
                        </div>
                        <!-- Plugin content:powerpoint,txt,pdf,png,word,xl -->
                        <div class="table-responsive">
                            <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                                <thead class="back_table_color">
                                <tr class="info">
                                    <th>Photo</th>
                                    <th>Customer Full Name</th>
                                    <th>Passport Number</th>
                                    <th>Status</th>
                                    <th>Disability</th>
                                    <th>Gender</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for customer in customers %}
                                    <tr>
                                        <td>
                                            <img src="{% static 'dist/img/avatar.png' %}" class="img-circle"
                                                 alt="User Image"
                                                 width="50"
                                                 height="50">
                                        </td>
                                        <td>{{ customer.last_name }} {{ customer.first_name }} {{ customer.middle_name }}</td>
                                        <td>{{ customer.passport_number }}</td>
                                        <td>
                                            {% if customer.status %}
                                                <span class="label-custom label label-default">Active</span>
                                            {% else %}
                                                <span class="label-danger label label-default">Inactive</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if customer.disability %}
                                                <span class="label-custom label label-default">Yes</span>
                                            {% else %}
                                                <span class="label-danger label label-default">No</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if customer.gender == 'M' %}
                                                <span class="label-custom label label-default">Male</span>
                                            {% elif customer.gender == 'F' %}
                                                <span class="label-custom label label-default">Female</span>
                                            {% else %}
                                                <span class="label-danger label label-default">Not selected</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a type="submit" class="btn btn-add btn-sm"
                                               href="{% url 'customers:update_customer' customer_id=customer.id %}">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a type="submit" class="btn btn-danger btn-sm"
                                               href="{% url 'customers:remove_customer' customer_id=customer.id %}">
                                                <i class=" fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}