{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>


    <link href="{% static 'dist/img/ico/favicon.png' %}" rel="shortcut icon" type="image/x-icon">

    <!-- lobicard tather css -->
    <link href="{% static 'plugins/lobipanel/css/tether.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'plugins/lobipanel/css/jquery-ui.min.css' %}" rel="stylesheet"/>
    <!-- lobicard min css -->
    <link href="{% static 'plugins/lobipanel/css/lobicard.min.css' %}" rel="stylesheet"/>
    <!-- lobicard GitHub css -->
    <link href="{% static 'plugins/lobipanel/css/github.css' %}" rel="stylesheet"/>
    <!-- Bootstrap -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <!-- Pace css -->
    <link href="{% static 'plugins/pace/flash.css' %}" rel="stylesheet"/>
    <!-- Font Awesome -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"/>
    <!-- Pe-icon -->
    <link href="{% static 'pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}" rel="stylesheet"/>
    <!-- Themify icons -->
    <link href="{% static 'themify-icons/themify-icons.css' %}" rel="stylesheet"/>
    {% block css %} {% endblock %}

    {% block page_label_plugins %} {% endblock %}

    {% block theme_layout_style %} {% endblock %}

    <link href="{% static 'dist/css/stylecrm.css' %}" rel="stylesheet"/>

</head>
<body class="hold-transition sidebar-mini">
<!--preloader-->
<div id="preloader">
    <div id="status"></div>
</div>
<div class="wrapper">
    <header class="main-header">
        <a href="{% url 'index' %}" class="logo">
            <!-- Logo -->
            <span class="logo-mini">
            <img src="{% static 'dist/img/mini-logo.png' %}" alt="">
        </span>
            <span class="logo-lg">
            <img src="{% static 'dist/img/logo.png' %}" alt="">
        </span>
        </a>
        <!-- Header Navbar -->
        <nav class="navbar navbar-expand py-0">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <!-- Sidebar toggle button-->
                <span class="sr-only">Toggle navigation</span>
                <span class="pe-7s-angle-left-circle"></span>
            </a>
            <div class="collapse navbar-collapse navbar-custom-menu">
                <ul class="navbar-nav ml-auto">
                    <!-- Help -->
                    <li class="nav-item dropdown  dropdown-help">
                        <a class="nav-link hidden_hidden" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="pe-7s-settings"></i></a>

                        <div class="dropdown-menu drop_down">
                            <div class="menus">
                                <a class="dropdown-item" href="#">Setting 1</a>
                                <a class="dropdown-item" href="#">Setting 2</a>
                                <a class="dropdown-item" href="#">Setting 3</a>
                                <a class="dropdown-item" href="#">Setting 4</a>
                            </div>
                        </div>
                    </li>
                    <!-- User -->
                    <li class="nav-item dropdown dropdown-user">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <img src="{% static 'dist/img/avatar5.png' %}" class="rounded-circle" width="50"
                                 height="50"
                                 alt="user"></a>

                        <div class="dropdown-menu drop_down">
                            <div class="menus">
                                <a class="dropdown-item" href="{% url 'users:profile' %}"><i class="fa fa-user"></i> User Profile</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-inbox"></i> Inbox</a>
                                <a class="dropdown-item" href="{% url 'users:logout' %}"><i class="fa fa-sign-out"></i> Signout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- =============================================== -->
    <!-- Left side column. contains the sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar -->
        <div class="sidebar">
            <!-- sidebar menu -->
            {% with current_url=request.resolver_match.url_name %}
                <ul class="sidebar-menu">
                    <li class="{% if current_url == 'index' %} active {% else %} treeview {% endif %}">
                        <p>Current URL: {{ current_url }}</p>
                        <p>Current user: {{ user.username }}</p>
                        <a href="{% url 'index' %}"><i class="fa fa-tachometer"></i><span>Dashboard</span>
                            <span class="pull-right-container">
                     </span>
                        </a>
                    </li>
                    <li class="{% if current_url == 'create_customer' or current_url == 'all_customers_display' %} treeview active {% else %} treeview {% endif %}">
                        <a href="#">
                            <i class="fa fa-users"></i><span>Customers</span>
                            <span class="pull-right-container">
                                 <i class="fa fa-angle-left float-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li {% if current_url == 'create_customer' %} class="active" {% endif %}>
                                <a href="{% url 'customers:create_customer' %}">Add customer</a>
                            </li>
                            <li {% if current_url == 'all_customers_display' %} class="active" {% endif %}>
                                <a href="{% url 'customers:all_customers_display' %}">List customers</a>
                            </li>
                        </ul>
                    </li>
                    <li class="{% if current_url == 'create_hotel' or current_url == 'all_hotels_display' %} treeview active {% else %} treeview {% endif %}">
                        <a href="#">
                            <i class="fa fa-building fa-3x" aria-hidden="true"></i><span>Hotels</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left float-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li {% if current_url == 'create_hotel' %} class="active" {% endif %}>
                                <a href="{% url 'hotels:create_hotel' %}">Create hotel</a>
                            </li>
                            <li {% if current_url == 'all_hotels_display' %} class="active" {% endif %}>
                                <a href="{% url 'hotels:all_hotels_display' %}">List hotels</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            {% endwith %}
        </div>
        <!-- /.sidebar -->
    </aside>
    <!-- =============================================== -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        {% block content %} {% endblock %}
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <strong>Copyright &copy; 2023 <a href="#">Dusty</a>.</strong> All rights reserved.
    </footer>
</div>

<!-- /. wrapper -->

<!-- Start Core Plugins
=====================================================================-->
<!-- jQuery -->
<script src="{% static 'plugins/jQuery/jquery-1.12.4.min.js' %}"></script>
<!-- Bootstrap proper -->
<script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
<!-- lobicard ui min js -->
<script src="{% static 'plugins/lobipanel/js/jquery-ui.min.js' %}"></script>
<!-- lobicard ui touch-punch-improved js -->
<script src="{% static 'plugins/lobipanel/js/jquery.ui.touch-punch-improved.js' %}"></script>
<!-- lobicard tether min js -->
<script src="{% static 'plugins/lobipanel/js/tether.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- lobicard js -->
<script src="{% static 'plugins/lobipanel/js/lobicard.js' %}"></script>
<!-- lobicard highlight js -->
<script src="{% static 'plugins/lobipanel/js/highlight.js' %}"></script>
<!-- Pace js -->
<script src="{% static 'plugins/pace/pace.min.js' %}"></script>
<!-- NIceScroll -->
<script src="{% static 'plugins/slimScroll/jquery.nicescroll.min.js' %}"></script>
<!-- FastClick -->
<script src="{% static 'plugins/fastclick/fastclick.min.js' %}"></script>
<!-- CRMadmin frame -->
<script src="{% static 'dist/js/custom.js' %}"></script>
<!-- End Core Plugins
   =====================================================================-->
<!-- Dashboard js -->
<script src="{% static 'dist/js/dashboard.js' %}"></script>
{% block js_scripts %} {% endblock %}
</body>
</html>