{% extends 'hotels/base.html' %}

{% load static %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="header-icon">
            <i class="fa fa-dashboard"></i>
        </div>
        <div class="header-title">
            <h1>Hotels CRM Admin Dashboard</h1>
            <small>Very detailed & featured admin.</small>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class=" col-sm-6 col-md-6 col-lg-3">
                <a href="{% url 'customers:create_customer' %}">
                    <div id="cardbox1">
                        <div class="statistic-box">
                            <i class="fa fa-users fa-3x"></i>
                            <div class="counter-number pull-right">
                                <span class="count-number">11</span>
                                <span class="slight"><i class="fa fa-play fa-rotate-270"> </i>
                              </span>
                            </div>
                            <h3> Active Customers</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class=" col-sm-6 col-md-6 col-lg-3">
                <a href="{% url 'hotels:create_hotel' %}">
                    <div id="cardbox2">
                        <div class="statistic-box">
                            <i class="fa fa-building fa-3x" aria-hidden="true"></i>
                            <div class="counter-number pull-right">
                                <span class="count-number">4</span>
                                <span class="slight"><i class="fa fa-play fa-rotate-270"> </i>
                              </span>
                            </div>
                            <h3> Hotels</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
{% endblock %}